/* table{
    border-collapse: collapse;
    width: 400px;
    height: 200px;
} */
 .ex1{
    background-color: rgba(61, 71, 16, 0.529); text-align: center;
 }
 form{
    text-align: center; background-color: black; width: 100%; height: 580px; color: yellow 
 }
#ism{
    border-radius: 20px; width: 200px; height: 25px;
} 
#text10{
    border-radius: 20px; width: 200px; height: 25px;    
}
#text11{
    border-radius: 20px; width: 200px; height: 25px;     
}
#text12{
    border-radius: 20px; width: 200px; height: 25px;
}
#text13{
    border-radius: 20px; width: 200px; height: 25px;
}
#text14{
    border-radius: 20px; width: 300px; height: 20px; background-color: forestgreen;
}

